  <div class="row">    
	  <hr>
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
      
      <h3>Minha História</h3>
      
      <p>Antônio Martins de Farias é filho natural de Serra dos Bois. Seus pais são Hermes Ludugero de Farias e Emília Martins. Hermes já é falecido, enquanto Emília, no alto de seus 89 anos, mora em Serra dos Bois. Hermes e Emília tiveram seis filhos: Ananias, Bernadina, Paulo, Antônio e Maria gêmeos, e Carlinda.</p>
 
      <p>Antônio Martins de Farias, doravante apenas Antônio, estudou por um tempo com Silva Borges, nas Barrocas, município de Barra de São Miguel, próximo a Serra dos Bois. Estudar com Severina Borges da Costa, tia Silva, é um dos maiores orgulhos que Antônio guarda como um troféu.</p>
 
      <p>Quando completou 18 anos Antônio vendeu duas cabras; comprou uma mala, duas calças e duas camisas e se transferiu para o Rio de Janeiro.</p>
 
      <p>Na cidade maravilhosa foi trabalhar como faxineiro e porteiro de um condomínio, na Av. Rui Barbosa, cujo porteiro chefe, era seu Elias Amâncio, natural de Frei Miguelinho, que lhe forneceu um emprego. Naquele edifício só morava pessoas muito ricas e não falavam Português. Antônio achava aquilo muito esquisito, pois não sabia nem falar a língua pátria. Dez meses depois foi contratado para trabalhar em uma empresa de mineração. Nesta empresa foi estimulado a estudar. Após muita insistência, Antônio se matriculou no curso noturno do Colégio Santo Inácio, dos Jesuítas. Neste colégio completou o ensino de primeiro grau e iniciou o de segundo. Só que a empresa em que trabalhava foi transferida para Brasília, em 1983. Na Capital Federal, Antônio completou seu segundo grau e fez sua primeira faculdade de Ciências Contábeis. Em 1991, voltou a residir na cidade do Rio de Janeiro e atualmente exerce a profissão de Contador e em 2011 concluiu o curso de Direito. E, neste momento, já se prepara para fazer a prova da OAB.</p>
	  
	  <p>Antônio e sua esposa Inês vivem juntos há 14 anos. Embora Antônio, por razões econômicas não tenha frequentado Serra dos Bois, nunca a esqueceu. Atualmente é um dos colaboradores do Blog da Associação dos Agricultores de Serra dos Bois. Seu prato predileto é buchada de Bode e seus cantores preferidos são Luiz Gonzaga e Frank Sinatra.</p>
	  
	  <p>Nas veias de Antônio corre sangue pernambucano e política. Antônio já colaborou em diversos jornais sempre falando de política. Seu passa tempo preferido é ler um bom livro.</p>
            
    </div>
    
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        
      <ul class="side-nav">
        <li><%= link_to "DIREITO TRIBUTÁRIO", "tributario" %></li>
        <li><%= link_to "DIREITO DO CONSUMIDOR", "consumidor" %></li>
        <li><%= link_to "DIREITO PREVIDENCIÁRIO", "previdenciario" %></li>
      </ul>
      
      <p><%= image_tag "antonio_martins_farias.jpg" %></p>
        
    </div>
    
  </div>
    
  

