<div class="row">
    <hr>
  
    <div class="large-8 columns">
      
	  <h4>Caro Cliente,</h4>
      <p>Obrigado por entrar em contato conosco. Enviamos confirma&ccedil;&atilde;o de seu contato para seu e-mail, caso n&atilde;o tenha recebido, verifique sua caixa de spam ou lixeira.</p>
      <p>Aguarde nosso contato por telefone.</p>
      <%= link_to "PÃGINA INICIAL", "/pagina-inicial", :class => 'secondary small button' %>
	 
    </div>
    
    <div class="large-4 columns">
    
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      
      <ul class="small-block-grid-3">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
        
  </div>
  
  