<div class="row">    
 
  <!-- Main Content Section -->
  <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
  <div class="large-7 columns">
    
    <h4>Direito Empresarial</h4>
    
    <p>“O homem é produto de trabalho”. Nossa sociedade busca o lucro a qualquer custo e isso implica explorar o homem como meio de produção. Embora tenha sido a partir da Segunda Guerra Mundial que o Estado passou a ser um Estado Social, visando amparar os mais necessitados.</p>

    <p>A nossa Constituição em seu artigo 6º, quando determina que são direitos sociais a educação, a saúde, a alimentação, o trabalho, a moradia, o lazer, a segurança, a previdência social, a proteção à maternidade e à infância, a assistência aos desamparados, na forma da Constituição.</p>

    <p>Por isso, é direito de todos lutar por uma vida digna e plena de alegria e bem estar, para isso  temos a lei a nosso favor e o profissional de direito para auxiliar e lutar por justiça social e liberdade.</p>
          
  </div>
  
  
  <!-- Nav Sidebar -->
  <!-- This is source ordered to be pulled to the left on larger screens -->
  <div class="large-5 columns">
      
	  <h5>Decisões dos Tribunais</h5>
	  <% @direito_empresarials.each do |direito_empresarial| %><hr style="border:1px dashed #000000;">
	  <p><%= truncate(direito_empresarial.conteudo, :length => 200, separator: ' ') %> <%= link_to '( Leia Mais )', direito_empresarial %></p>
	  <% end %>
      
  </div>
  
</div>
<script>
  $(document).foundation('orbit', {
  	animation: 'fade',
	bullets: false,
	timer_speed: 5000,
	animation_speed: 1000,
	navigation_arrows: false,
	slide_number: false,
	pause_on_hover: false,
  });
</script>	  



