<div class="row">
	<hr>
    <div class="large-12 columns">
        
		<ul data-orbit>
		  <li>
		    <%= image_tag "amfarias_banner1.jpg" %>
		  </li>
		  <li>
		    <%= image_tag "amfarias_banner2.jpg" %>
		  </li>
		  <li>
		    <%= image_tag "amfarias_banner3.jpg" %>
		  </li>
		</ul>
         
        
    </div>
</div>
  
<!-- Three-up Content Blocks -->

<div class="row">
	<hr>
    <div class="large-12 columns">
        <h4>Notícias</h4>
     
    </div>
    
    <div class="large-4 columns">
      <h5>Pai pode deixar de incluir filho em doação de imóvel</h5>
      <p>Em decisão unânime, a 3ª Turma do Superior Tribunal de Justiça negou provimento a Recurso Especial que buscava invalidar a doação de imóvel feita por um pai, já morto, apenas aos filhos do primeiro casamento e em acordo de separação homologado...</p>
      <p>18/09/2013</p>
      <a href="">Saiba mais...</a>
    </div>
    
    <div class="large-4 columns">
      <h5>Sócio cotista responde por dívida em sociedade familiar</h5>
      <p>Não é possível afastar a responsabilidade de um dos sócios quando se trata de sociedade familiar, na qual mãe e filha detêm cada uma 50% do capital social votante, se não ficou comprovado na demanda quem atuou como gerente ou administrador da empresa.</p>
      <p>18/09/2013</p>
      <a href="">Saiba mais...</a>
    </div>
    
    <div class="large-4 columns">
      <h5>Pai que dá carro a menor não é condenado por homicídio</h5>
      <p>O pai que entrega ou, por omissão, permite que o filho menor de idade dirija seu carro não pode ser automaticamente condenado por homicídio culposo. Para a 5ª Turma do Superior Tribunal de Justiça, não se pode presumir a culpa nem implicar...</p>
      <p>18/09/2013</p>
      <a href="">Saiba mais...</a>
    </div>
	
</div>
<div class="row"><div class="large-12 columns"><hr></div></div>

<div class="row">
    <div class="large-12 columns">
        <h4>Artigos</h4>
     
    </div>
    
    <div class="large-4 columns">
      <h5>Direitos em separação se estendem à união estável</h5>
      <p>Quando um casal desenvolve uma relação afetiva contínua e duradoura, conhecida publicamente e estabelece a vontade de constituir uma família, essa relação pode ser reconhecida como união estável, de acordo com o Código Civil de 2002. Esse instituto também é legitimado pela...</p>
      <p>08/08/2013</p>
      <a href="">Saiba mais...</a>
    </div>
    
    <div class="large-4 columns">
      <h5>STJ adota teoria da perda da chance em erro médico</h5>
      <p>O pedido de indenização por perdas e danos pode ser formulado pelo paciente e/ou seus familiares nos casos de erro médico, desde que presentes os tradicionais requisitos da responsabilidade civil, que são: (i) a culpa (por negligência, imprudência...</p>
      <p>19/09/2013</p>
      <a href="">Saiba mais...</a>
    </div>
    
    <div class="large-4 columns">
      <h5>Aumento Abusivo no Plano de Saúde para pessoas com 59 anos de idade</h5>
      <p>Inicialmente, as empresas de saúde majoravam o plano das pessoas com idade acima de 60 anos a título de mudança por faixa etária. Contudo, tal prática é vedada pelo Estatuto do Idoso, que só aceita os aumentos anuais  autorizados pela ANS.  Portanto...</p>
      <p>07/03/2013</p>
      <a href="">Saiba mais...</a>
    </div>
	
</div>
