<div class="row">    

  <!-- Main Content Section -->
  <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
  <div class="large-9 push-3 columns">
    
    <h4>Direito Tributário</h4>
    
    <p>Há quem defina o Direito Tributário como o ramo do Direito Público que estuda e normatiza as relações tributárias entre o fisco e o contribuinte.</p>

    <p>Embora, existindo uma fome exagerada do Estado em suprir as necessidades financeiras, para atender às necessidades básicas deste Estado. (Receita Derivada), é ainda no Brasil um direito que poucos conhecem e como contribuintes todos têm ou terão um problema tributário a ser resolvido entre o fisco e o contribuinte.</p>

    <p>Visando à proteção do contribuinte, o constituinte brasileiro, tem mesmo que de pouca monta buscado meios de garantias para o contribuinte, como o previsto no artigo 150 da Constituição Federal de 1988, que veda à União, aos Estados, ao DF e os Municípios exigir ou aumentar tributos sem lei que o estabeleça entre outros.</p>

    <p>Há, no entanto, que ser ressaltado que um dos direitos mais importantes que dispomos é o direito de defesa. Assim a todos é assegurado o direito de se defender e para isso contamos com o Advogado para nos defender e ser defendidos das garras do Estado.</p>
          
  </div>
  
  
  <!-- Nav Sidebar -->
  <!-- This is source ordered to be pulled to the left on larger screens -->
  <div class="large-3 pull-9 columns">
      
    <ul class="side-nav">
      <li><%= link_to "DIREITO TRIBUTÁRIO", "tributario" %></li>
      <li><%= link_to "DIREITO DO CONSUMIDOR", "consumidor" %></li>
      <li><%= link_to "DIREITO PREVIDENCIÁRIO", "previdenciario" %></li>
    </ul>
    
    <p><%= image_tag "antonio_martins_farias.jpg" %></p>
      
  </div>
  
</div>
<script>
  $(document).foundation('orbit', {
  	animation: 'fade',
	bullets: false,
	timer_speed: 5000,
	animation_speed: 1000,
	navigation_arrows: false,
	slide_number: false,
	pause_on_hover: false,
  });
</script>	


