<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name %> acabou de solicitar informações sobre serviços!</h1>
    <p>
      Entre em contato com ele(a) através do telefone: <%= @contact.phone %>.<br/>
    </p>
    <p>
      Vamos em busca de novos clientes!
    </p>
    <p>Boa Sorte!</p>
	
	<p>
	  <b>Message:</b>
	  <%= @contact.message %>
	</p>
  </body>
</html>