<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @contact.name %></h1>
	<p>Seja bem vindo a AMFARIAS.adv.br</p>
    <p>Ficamos felizes em seu interesse e esperamos que em breve você seja mais um de nossos clientes!</p>
	<p>Em breve , você receberá uma ligação de nosso escritório.</p><br/>
	
	<p>Antônio Martins Farias</p>
	<p>www.amfarias.adv.br</p>
  </body>
</html>